## Python. Mini-project 1

Tasks

1. Import the pandas library as pd.
2. Upload bookings.csv dataset with ; separator.
3. Check the table size, variable types, and then print the first 7 lines to look at the data.
4. Change the column names to lowercase and replace spaces with underscores.
5. Users from which countries have made the most successful bookings? Specify the top 5.
6. How many nights do hotels of different types book on average?
7. Sometimes the type of room received by the client (assigned_room_type) differs from the one originally booked (reserved_room_type). This can happen, for example, due to overbooking. How many such observations were found in the dataset?
8. Review your planned arrival dates. – What month was the most successful booking in 2016? Did the most popular month change in 2017? - Group the data by years and check which month City Hotel bookings were canceled most often in each period
9. Look at the numerical characteristics of the three variables: adults, children and babies. Which one has the largest average value?
10. Create a total_kids column by concatenating children and babies. For which type of hotels did the average value of the variable turn out to be the largest?
11. Create a has_kids variable that takes the value True if the client specified at least one child during the booking (total_kids), otherwise False. Calculate the ratio of the number of users who left to the total number of customers, expressed as a percentage (churn rate). Indicate which group has the highest rate.


## Data Description
**There are the following variables:**

- Hotel - type of hotel (City Hotel or Resort Hotel)
- Is canceled – the booking was canceled (1) or not (0); not canceled is considered successful
- Lead time - the number of days elapsed between the date of booking and the date of arrival
- Arrival full date - full date of arrival
- Arrival date year - year of arrival
- Arrival date month - month of arrival
- Arrival date week number - arrival week number
- Arrival date day of month - the day of arrival
- Stays in weekend nights - the number of days off (Saturday or Sunday) that the guest has booked to stay at the hotel
- Stays in week nights - the number of days (from Monday to Friday) that the guest has booked to stay at the hotel
- Stays total nights - the total number of nights booked (the sum of the two previous columns)
- Adults - number of adults
- Children - number of children
- Babies - the number of babies
- Meal - the selected type of food
- Country - country of origin of the client
- Reserved room type - reserved room type
- Assigned room type - the type of room received (may differ from the booked one)
- Customer type - booking type
- Reservation status - the value of the last reservation status: Canceled - was canceled by the client; Check-Out - the client has checked in, but has already left the hotel; No-Show - the client did not register and informed the hotel administration the reason
- Reservation status date - status update date

# Task 1 - 4

In [1]:
import pandas as pd

In [2]:
# dataset with unique user ids
df = pd.read_csv('./2_bookings.csv', sep=';')

In [4]:
# dataset size
rows, cols = df.shape
print(f'{rows = }, {cols = }')

rows = 119390, cols = 21

In [5]:
# data types in the dataset
df.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [6]:
df.info() # counts how many columns belong to a particular type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [7]:
# output the first seven lines
df.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

As you may have noticed, a small error occurred while collecting the dataset, and the column names were written in a format that is inconvenient for further work.
Correct the situation by converting the column names to lowercase and replacing spaces with underscores. For example: **Is Canceled -> is_canceled**

In [8]:
df.columns #columns - attribute

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [9]:
# change column names
rename_columns = {}
for col in df.columns:
    rename_columns[col] = col.replace(' ', '_').lower()

In [10]:
rename_columns

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [11]:
# save new names
df = df.rename(columns=rename_columns)
df.head(2)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01

# Task 5

Users from which countries have made the most successful bookings?
The booking is considered successful if it has not been canceled in the future (variable is_canceled).
As an answer, select the countries in the top 5.

*NB: is_canceled == 0*

In [12]:
df.loc[df.is_canceled == 0].country.value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

# Task 6

For how many nights (stays_total_nights) are City Hotels booked on average? resort hotel?
Write the obtained values ​​in the gaps with an accuracy of 2 decimal places.

In [13]:
df.groupby('hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

# Task 7

### search for errors in the data on the booking example


Sometimes the type of room assigned to the client (assigned_room_type) differs from the one originally booked (reserved_room_type). This can happen, for example, due to overbooking.
How many such observations were found in the dataset?

In [14]:
df.loc[df.assigned_room_type != df.reserved_room_type]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119273,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119274,City Hotel,0,213,2017-08-28,2017,August,35,28,1,3,...,1,0.0,0,HB,PRT,A,K,Transient-Party,Check-Out,2017-09-01
119289,City Hotel,0,25,2017-08-30,2017,August,35,30,0,3,...,3,0.0,0,BB,ITA,E,F,Transient,Check-Out,2017-09-02
119297,City Hotel,0,332,2017-08-31,2017,August,35,31,0,2,...,2,0.0,0,BB,GBR,D,F,Transient,Check-Out,2017-09-02
119357,City Hotel,0,47,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,SC,PRT,A,D,Transient,Check-Out,2017-09-04

In [15]:
len(df.loc[df.assigned_room_type != df.reserved_room_type])

14917

# Task 8


Now parse the scheduled arrival dates (arrival_date_year).

What was the most frequent booking month in 2016?
Has the most popular month changed in 2017?

In [16]:
df.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

Conclusion: **The most popular month changed in 2017 is May. The most popular month changed in 2016 is October.**

Group the data by years and then check for which month (arrival_date_month)
What were the most canceled bookings for City Hotel in 2015? 2016? 2017?

In [17]:
df.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum()

arrival_date_year  arrival_date_month
2015               August                1598
                   December               973
                   July                  1259
                   November               486
                   October               1732
                   September             2094
2016               April                 2061
                   August                1825
                   December              1398
                   February              1337
                   January                557
                   July                  1499
                   June                  2096
                   March                 1477
                   May                   1915
                   November              1636
                   October               2514
                   September             2022
2017               April                 2463
                   August                1816
                   February              1359
                   January               1250
                   July                  1984
                   June                  2439
                   March                 1672
                   May                   2762
Name: is_canceled, dtype: int64

In [18]:
df.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().groupby(['arrival_date_year']).nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64

In [19]:
df.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().nlargest(1) # useful

arrival_date_year  arrival_date_month
2017               May                   2762
Name: is_canceled, dtype: int64

# Task 9



For which type of hotels did the average value of the variable turn out to be the largest?

City hotel - the hotel is located in the city
Resort hotel - resort hotel
Give the highest average of total_kids as your answer, rounded to 2 decimal places.

In [20]:
# Create the total_kids column by concatenating the children and babies columns.
df['total_kids'] = df.children + df.babies

In [21]:
# calc average
df.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [22]:
# highest average value
df.groupby('hotel').total_kids.mean().round(2).nlargest(1)

hotel
Resort Hotel    0.14
Name: total_kids, dtype: float64

# Task 10

Not all bookings were successful (is_canceled), so you can count how many customers were lost in the process.

calculate a metric called Churn Rate. Churn rate (outflow, churn rate) is the percentage of subscribers (for example, to push notifications from the site) who unsubscribed from the communication channel, abandoned the services of the service during a certain period of time.

is the ratio of the number of users who left to the total number of users, expressed as a percentage. In our case, the Churn Rate is the percentage of customers who canceled their booking. Let's see how this metric relates to customers having children!

Create a has_kids variable that takes the value True if the client specified at least one child during the booking (total_kids), otherwise False. Next, check which user group has the highest churn rate.

As an answer, indicate the largest % outflow, rounded to 2 decimal places (that is, the share of 0.24563 will be 24.56% and 24.56 will go in response)

In [23]:
# create a function, which is then applied to the total_kids column
# the function will take row by row the values ​​in the given column and assign True False

In [24]:
def has_kids(x):
    if x > 0:
        return True
    else:
        return False

In [25]:
df['has_kids'] = df.total_kids.apply(has_kids)

In [27]:
df['has_kids'].value_counts()

False    110058
True       9332
Name: has_kids, dtype: int64

In [28]:
df[['has_kids', 'is_canceled']].value_counts() / df[['has_kids']].value_counts()*100

has_kids  is_canceled
False     0              62.778717
          1              37.221283
True      0              65.077154
          1              34.922846
dtype: float64

In [29]:
# True if greater than or equal to 1, False if less than
df['has_kids'] = df['total_kids'] >= 1

# group by the required field, for each group we take the is_canceled column
# use value_counts with the parameter normalize=True to show the share in %
rates = df.groupby('has_kids')['is_canceled'].value_counts(normalize=True)

# round and show result
round(rates * 100, 2)

has_kids  is_canceled
False     0              62.78
          1              37.22
True      0              65.08
          1              34.92
Name: is_canceled, dtype: float64